@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Utilitários específicos para impressão e layout */
  .no-print {
    @apply print:hidden;
  }
}

/* Estilos de impressão */
@media print {
  body {
    background: white;
  }
  @page {
    margin: 0;
    size: auto;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
